<h1>Eat da Burger!</h1>

<div class="container">
        <div>
            <h3>Burgers waiting to be eaten</h3>
            <table class="ready">
                {{#each burgers}}
                    {{#if devoured}}
                    {{else}}
                        <tr><td>{{burger_name}}</td>
                        <td>
                            <button>Devour it!</button>
                        </td></tr>
                    {{/if}}
                {{/each}}
            </table>
        </div>

        <div class="logo">
            <img class="burgerimage" src="/assets/img/burger.png">
        </div>

        <div>
            <h3>Burgers that have been devoured</h3>
                <ul class="devoured">
                {{#each burgers}}
                    {{#if devoured}}
                        <li>{{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
</div>

<div class="container">
<form class="create-burger">

  <div class="form-group">
    <label for="burgername">Burger:</label>
    <input type="text" id="burgername" name="name">  
    <button type="submit">Add Burger</button>
  </div>

</form>
</div>

	<script>
		$(".create-burger").on("submit", function(event) {
			// Make sure to preventDefault on a submit event.
			event.preventDefault();

			let newBurger = {
			name: $("#burgername").val().trim(),
			};

			// Send the POST request.
			$.ajax("/api/burgers", {
			type: "POST",
			data: newBurger
			}).then(
			function() {
				console.log("created new burger");
				// Reload the page to get the updated list
				location.reload();
			}
			);
  		});
	</script>