<h1>Eat da Burger!</h1>

<div class="container">
        <div class="ready">
            Burgers waiting to be eaten
        </div>

        <div class="logo">
            <img class="burgerimage" src="/assets/img/burger.png">
        </div>

        <div class="devoured">
            Burgers that have been devoured
        </div>
</div>

<div class="container">
<form>
    <input type="text" id="burgername">
    <button type="submit">Add Burger</button>
</form>
</div>