body {
    background-color: #FFDD67;
    font-family: 'Coiny', cursive;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.burgerimage {
    height: 250px;
 
}

.ready, .devoured {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr, .devoured  {
    background-color: #fff4d1;
}
